<h1>WEG21 Tenant Content Editor</h1>
<hr>

<ng-container *ngIf="content">
  <ng-container *ngFor="let prop of content | keyvalue">
    <h2>{{ prop.key }}</h2>
    <form [formGroup]="form">
      <ng-container *ngIf="prop.key.includes('Content'); else notPage">
        <editor [formControlName]="prop.key"
          [init]="{ plugins: 'lists link image table code help wordcount', toolbar: 'undo redo | blocks | bold italic underline | link image table | numlist bullist indent outdent ' }"
          [id]="prop.key + 'Editor'" [toolbar]="" apiKey="3em7nv674runl3133zuflqw5eof54tv8tavz042em9bcai0o"
          [initialValue]="prop.value"></editor>
      </ng-container>
      <ng-template #notPage>
        <textarea [formControlName]="prop.key" type="text" [value]="prop.value"
          style="width: 100%; height: 150px;"></textarea>
      </ng-template>
    </form>
    <button (click)="submit()">Get Json</button>
  </ng-container>
</ng-container>

<ng-container *ngIf="!content">
  <h2>Please add a Content.json to the assets folder to continue</h2>
</ng-container>
